:root {
  --color-primary: #3f5da8;
  --color-gray: #9b9b9b;
  --color-gray-dimmed: #D9D9D9;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-yellow: #ffcf26;
  --color-blue: #5b84e8;
  --color-pink: #fa67da;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.full-bleed {
  max-width: 1200px;
  margin: 0 auto;

  box-shadow: 0 0 0 100vmax var(--color-primary);
  clip-path: inset(0 -100vmax);
}

header {
  padding: 1rem 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  background: var(--color-primary);

  @media (max-width: 510px) {
    flex-direction: column;
  }
}

header div.wrapper {
  display: flex;
  align-items: center;

  gap: 1rem;
}

header button {
  border: none;
}

header button:hover {
  cursor: pointer;
}

header section.search-bar {
  position: relative;
}

header section.search-bar input {
  background: var(--color-white);

  padding: 0.5rem 1rem;

  border: none;
  outline: transparent;

  border-radius: 100px;
}

header section.search-bar input::placeholder {
  color: var(--color-gray);
}

header section.search-bar button {
  position: absolute;
  right: -0.5rem;

  padding: 0.5rem 1rem;

  background: var(--color-yellow);
  color: var(--color-primary);

  border-radius: 100px;
}

header button.hamburguer-menu {
  background: transparent;
  color: var(--color-white);
}

header button.hamburguer-menu svg {
  width: 1.5rem;
  height: 1.5rem;
}

main {
  padding: 3rem;

  min-height: calc(100vh - 15.9rem);

  @media (max-width: 510px) {
    min-height: calc(100vh - 23.3rem);
  }
}

footer {
  position: relative;
  bottom: 0;

  background: var(--color-primary);
  color: var(--color-white);

  padding: 3rem;
  padding-bottom: 3rem;

  display: flex;
  gap: 2rem;
  align-items: center;

  @media (max-width: 510px) {
    align-items: flex-start;
    flex-direction: column;
  }
}

footer ul {
  list-style: none;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer ul.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer ul.social::before {
  content: "Redes Sociais:";

  margin-right: 0.5rem;

  font-size: 0.8rem;
}

footer ul.social {
  position: absolute;
  right: 3rem;
  top: 1rem;

  display: flex;
  align-items: center;
}

footer ul.social svg {
  width: 30px;
  height: 30px;

  color: var(--color-yellow);
}

footer p.copyright {
  width: calc(100% - 6rem);

  position: absolute;
  bottom: 0;

  text-align: center;

  font-size: 0.8rem;
}
