div.artigo-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 756px) {
    grid-template-columns: 1fr;
  }

  gap: 1rem 2rem;

  counter-reset: section;
}

div.artigo-body p {
  position: relative;
  text-align: justify;

  counter-increment: section;
}

div.artigo-body p::before {
  content: counter(section) ". ";

  position: absolute;
  left: -1rem;

  font-weight: bold;
  font-size: 0.75rem;
  text-align: right;

  margin-right: 0.5rem;
}
