div.carousel__wrapper {
  position: relative;

  overflow: hidden;

  border-radius: 0.5rem;
}

div.carousel__slider {
  display: flex;

  transition: transform 0.3s ease-in-out;
}

div.carousel__slider img {
  flex-shrink: 0;

  width: 100%;

  object-fit: cover;
}

div.carousel__controler {
  display: flex;
  gap: 0.5rem;
  justify-content: center;

  margin-top: 1rem;
}

div.carousel__prev-next {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;

  display: flex;
  justify-content: space-between;
}

div.carousel__prev-next button {
  opacity: 0;

  width: 100px;

  @media (max-width: 510px) {
    width: 70px;
  }

  border: none;

  background: rgba(0, 0, 0, 0.2);

  color: var(--color-white);

  transition: opacity 0.2s ease-in-out;
}

div.carousel__prev-next button:hover {
  cursor: pointer;
}

div.carousel__wrapper:hover div.carousel__prev-next button {
  opacity: 1;
}

button.carousel__button {
  width: 0.5rem;
  height: 0.5rem;

  border: none;
  border-radius: 100px;

  background: var(--color-gray);

  transition:
    width 0.6s cubic-bezier(0.19, 1, 0.22, 1),
    background 0.2s linear;
}

button.carousel__button.active {
  background: var(--color-primary);

  width: 3rem;
}

button.carousel__button:hover {
  cursor: pointer;
}
