div.separator__wrapper {
  display: flex;

  align-items: center;

  width: 100%;

  margin-block: 1rem;
}

div.separator__line {
  flex-grow: 1;
  height: 1px;

  background: var(--color-gray-dimmed);
}

div.separator__content {
  padding: 0.5rem 1rem;
  margin-inline: 1rem;

  text-align: center;
  text-transform: uppercase;

  border-radius: 100px;

  background: var(--color-white);
  color: var(--color-primary);

  box-shadow: 0px 0px 10px 0px var(--color-gray-dimmed);

  font-weight: 700;
}
